body{ 

    font-size: 16px ;
    }  


.negrito{color: red;
}

.subtitulo{text-align: center;}

.principal{background-color: gray;
    text-align: center;}

.subtitulo{text-align: center;}

.imagem{width: 100%;}

.beneficio{width: 50%;}

.lista{ display:inline-block;
vertical-align: top;}

.titulo{ padding: 20px;}